.navbar-fixed-top {
  background-color: #03244d;
  height: 70px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  display: inline-block;
  margin-top: -10px;
}
#PL {
  text-transform: bold;
  color: #FFFFFF;
  font-size: 3em;
  background: none;
  box-shadow: none;
  border: none;
  margin-top: 15px;
  float: left;
  font-family: 'Slabo 27px', serif;
}
li {
  color: #FFFFFF;
  display: inline;
  font-size: 0.8em;
  text-decoration: none;
  background: none;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
}
li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.3em;
  padding-left: 5px;
  padding-right: 5px;
  background: #03244d;
}
li a a:hover {
  color: #dd550c;
  text-decoration: none;
  background: none;
}
.icon-bar {
  background-color: white;
  margin-top: 12px;
}
p {
  padding: 15px 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em;
}
.section-head {
  border-top: #03244d;
  border-bottom: #dd550c;
  border-style: solid;
  border-width: thin;
  border-right: none;
  border-left: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2em;
  text-transform: uppercase;
  margin-top: 15px;
  font-family: 'Slabo 27px', serif;
}
#name {
  margin-top: 30px;
  padding-top: 40px;
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  font-family: 'Slabo 27px', serif;
}
#title {
  text-align: center;
  font-size: 1.6em;
  padding-bottom: 40px;
  font-family: 'Slabo 27px', serif;
}
.position {
  padding-top: 25px;
  font-weight: bold;
  font-size: 1.25em;
  padding-left: 25px;
  font-family: 'Quicksand', sans-serif;
}
.date {
  color: #03244d;
  text-transform: uppercase;
  font-style: italic;
  padding-left: 25px;
  font-family: 'Quicksand', sans-serif;
}
.description {
  padding-left: 35px;
  font-family: 'Quicksand', sans-serif;
}
.contact-box {
  background-color: #03244d;
  width: 350px;
  height: 400px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}
.form {
  color: #FFFFFF;
  margin: auto;
  padding-left: 35px;
  padding-top: 20px;
  text-align: left;
}
.form-group {
  font-family: 'Quicksand', sans-serif;
  color: #FFFFFF;
  padding: 5px 10px;
}
textarea {
  height: 195px;
  width: 275px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: none;
  padding-left: 5px;
  margin-top: 5px;
  padding-top: 5px;
}
.btn-block {
  background-color: #dd550c;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 5px 5px;
}
.clear {
  clear: both;
  padding-top: 10px;
}
#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 4em;
  margin-top: 30px;
  margin-bottom: - 15px;
  padding-right: 15px;
  padding-left: 15px;
}
img {
  height: 75px;
  width: 75px;
  margin: 25px;
}
body {
  padding-top: 70px;
}
