@primarycolor: #03244d;
@secondarycolor: #dd550c;
@hovercolor: #dd550c;
@accentcolor: #FFFFFF;



.paragraphfont (){
    font-family: 'Quicksand', sans-serif;
}

.titlefont (){
    font-family: 'Slabo 27px', serif;
}
.border-radius (@radius: 12px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius
}


